#container {
  
}
#grid{
    margin: auto;
    display: grid;
    height: 450px;
    max-width: 450px;
    border: 5px solid #0000ff;
}

.square{
    height: 100%;
    width: 100%;
    /* padding: 6px; */
    /* border: 1px solid green; */
    /* background-color: white; */
}


.erase {
    background-color: white;
}