body{
    text-align: center;
    color: #E7FBBE;
    background-color: #222831 ;
}
p {
    display:inline-block;
    /* position:absolute; */
    /* margin-top: 10rem; */
}
#container {
 
}
#grid{
    box-sizing: border-box;
    margin: auto;
    display: grid;
    height: 650px;
    max-width: 60vw;
    border: 5px solid #FFD369;
}

.square{
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
}
#rangeValue{
    width: 60vw;
    margin-top: 30px;
}

#color, #color_lable{
    position: absolute;
    margin-top: 13%;
    margin-left: 33%;
    width: 15%;
    height: 200px;
}
#color_lable{
    margin-top: 20%;

}
#randomColor, #eraser {
    display:grid;
    position: absolute;
    margin-top: 20%;
    margin-left: 50px;
    background-color: #DCD6F7;
    color: #222831;
    
}
#randomColor {
    margin-top: 14rem;
}
#clean {
    margin-top: 30px;
}